@model SkillVm

@{
    ViewData["Title"] = "Skill Page";
}

<div class="row h-75 w-50 my-3 mx-1 table-responsive" >
    <div col-lg-12 p-0>
        <table class=" table table-hover Table" >
            <thead>
                <tr class="text-center">
                    <th class="defaultHeader bg-white">
                        <div class="row text-center">
                            <h2>@Texts.DlgSkillList</h2>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="mytable">
                @foreach (DummySkill skill in Model.SkillItems) {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-4 text-center">
                                    <a href="@skill.Tutorial">
                                        @if (!string.IsNullOrEmpty(skill.IcLink)) {
                                            <img class="skillicon" src="@skill.IcLink" />
                                        }
                                    </a>
                                </div>
                                <div class="col-8">
                                    @skill.Prog.ToString()
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 text-center">
                                    <p class="my-0 ">
                                        @skill.Language
                                    </p>
                                </div>
                                @* Need to better Style Progressbar for smaller Screens *@
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style=" width: @((int)skill.Prog)%" role="progressbar"
                                             aria-valuenow="@((int)skill.Prog)" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>